body {
  font-family: 'Roboto', sans-serif;
  color: #333;
  background-image: url(/assets/images/background-web.png);
  background-repeat: no-repeat;
  background-position: top;


}

img {
  max-width: 100%;
  height: auto;
}

/*-------------------------------------
| Slideshow
-------------------------------------*/
#faded {
	width: 600px;
	height: 300px;
	margin: auto;
	position: relative;
}
#faded img {
	position: absolute;
	left: 0px;
	top: 0px;
}
